.alert-wrapper {
  position: relative !important;
  margin-top: 1rem;
}
#header .navbar-dark .nav-link,
.site-footer .nav-link {
  color: rgba(255,255,255,.6);
}
#header .navbar-dark .nav-link:hover,
#header .navbar-dark .nav-link.active,
.site-footer .nav-link:hover,
.site-footer .nav-link.active {
  color: rgba(255,255,255,.9);
}
#navbarTopHeader nav {
  margin-left: auto;
}
#navbar-top nav {
  margin-right: auto;
}
#navbar-top .navbar-brand > img {
  max-height: 30px;
}
.breadcrumb {
  margin-top: 1rem;
}
#page-footer .block {
  margin: auto;
  padding: 0;
  border: 0;
  border-color: transparent;
}
.site-footer .nav-link {
  padding-left: 0;
}
