<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      {% block head %}
        {% if page.top_header or page.primary_menu %}
          {% if page.top_header %}
            <div{{ top_header_attributes }}>
              <div class="container">
                <div class="row">
                  {{ page.top_header }}
                </div>
              </div>
            </div>
          {% endif %}
          {% if page.primary_menu %}
            <nav{{ navbar_top_attributes }}>
              <div class="container">
                {{ page.primary_menu }}
                {% if page.top_header %}
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTopHeader" aria-controls="navbarTopHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-chevron-up"></i>
                  </button>
                {% endif %}
              </div>
            </nav>
          {% endif %}
        {% endif %}
        {% if page.header %}
          <div class="header">
            <aside class="{{ container }} section clearfix" role="complementary">
              {{ page.header }}
            </aside>
          </div>
        {% endif %}
        {% if page.secondary_menu %}
          <nav{{ navbar_attributes }}>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#SecondaryCollapsingNavbar" aria-controls="SecondaryCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="SecondaryCollapsingNavbar">
              {{ page.secondary_menu }}
            </div>
          </nav>
        {% endif %}
      {% endblock %}
    </header>
    {% if page.featured_top %}
      {% block featured %}
        <div class="featured-top">
          <aside class="featured-top__inner section {{ container }} clearfix" role="complementary">
            {{ page.featured_top }}
          </aside>
        </div>
      {% endblock %}
    {% endif %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
      {% block content %}
        <div id="main" class="{{ container }}">
          {{ page.breadcrumb }}
          <div class="row clearfix">
            {% if page.sidebar_left %}
              <div{{ sidebar_left_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_left }}
                </aside>
              </div>
            {% endif %}
            <main{{ content_attributes }}>
              <section class="section">
                {{ page.content_pre }}
                <a id="main-content" tabindex="-1"></a>
                {{ page.content }}
                {{ page.content_post }}
              </section>
            </main>
            {% if page.sidebar_right %}
              <div{{ sidebar_right_attributes }}>
                <aside class="section" role="complementary">
                  {{ page.sidebar_right }}
                </aside>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}
    </div>
    {% if page.featured_bottom %}
      <div class="featured-bottom">
        <aside class="{{ container }} clearfix" role="complementary">
          {{ page.featured_bottom }}
        </aside>
      </div>
    {% endif %}
    <footer class="site-footer bg-dark" id="page-footer">
      {% block footer %}
        <div class="{{ container }}">
          {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
            <div class="site-footer__top clearfix">
              <div class="row">
                {% if page.footer_first %}
                  <div{{ footer_attributes }}>
                    {{ page.footer_first }}
                  </div>
                {% endif %}
                {% if page.footer_second %}
                  <div{{ footer_attributes }}>
                    {{ page.footer_second }}
                  </div>
                {% endif %}
                {% if page.footer_third %}
                  <div{{ footer_attributes }}>
                    {{ page.footer_third }}
                  </div>
                {% endif %}
                {% if page.footer_fourth %}
                  <div{{ footer_attributes }}>
                    {{ page.footer_fourth }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if page.footer_bottom %}
            <div class="site-footer__bottom clearfix">
              {{ page.footer_bottom }}
            </div>
          {% endif %}
        </div>
      {% endblock %}
    </footer>
  </div>
</div>
